PyYAML==5.4.1
cov-core==1.15.0
coverage==5.5
mock==4.0.3
nose==1.3.7
nose-cov==1.6
requests==2.25.1
pyjwt==1.5.2 # 2.1.0 – Using version in Hawthorn (https://discuss.openedx.org/t/pulling-in-edx-src-repositories-throws-error-with-python-package-dependencies-for-the-lms/5914) 
pytest==3.6.2 # Using verison in Hawthorn
